/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  font-family: 'Roboto';
}
.card-container {
  background-color: #ffffff;
  padding: 20px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  color: #a35200;
}
.para-styles {
  color: #334155;
}
.image {
  height: 170px;
}
.btn {
  color: #a35200;
  font-weight: bold;
  padding: 5px 20px;
  background-color: #f9d423;
  margin-top: 15px;
  border: 0px;
  border-radius: 10px;
  outline: none;
}
.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.count {
  color: #475569;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
  }
}
